div {
    border: 1px solid #FFF;
    margin: 0.25rem;
}

#nav-main {
    background:rgb(75, 0, 75);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav-main li {
    display: inline-block;
}

#nav-main a {
    padding: 1rem;
    margin: 0.25rem;
    font-size: 2rem;
}

#notes-page {
    background: pink;
    display: flex;
    justify-content: flex-start;
    height: 80vh;
}

#notes-sidebar {
    max-width: 12em;
}

#main-viewer {
    width: 100%;
}

#md-input {
    width: 50%;
}

input, textarea {
    display: block;
}

textarea {
    width: 95%;
    margin: 1rem auto;
    height: 60vh;
}
